@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Построение отчетов по данным ФИАС</h1>

    <div class="button-container">
        <a class="btn btn-primary" asp-controller="Home" asp-action="ViewReport">Построить отчет</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="UpdateDB">Загрузить данные в БД</a>
    </div>
</div>
